@inject IJSRuntime _IJSRuntime

<div class="card shadow-sm mb-4">
    <div class="card-header bg-info text-white">
        <h5>@Title</h5>
    </div>
    <div class="card-body">
        @if (ChildContent != null)
        {
            <div class="alert alert-success">
                <strong>From Parent Component:</strong> @ChildContent
            </div>
        }
        @if (ChildSomeContent != null)
        {
            <div class="alert alert-warning">
                <strong>From Child Some:</strong> @ChildSomeContent
            </div>
        }
        <button class="btn btn-dark mt-2" @onclick="OnButtonClick">Click Me</button>
    </div>

    <div class="card-footer">
      <_GrandChildComponent>

      </_GrandChildComponent>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment ChildSomeContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }

    [Parameter]
    public string MessageForFrandChild { get; set; }

    public async Task ToastrSuccess()
    {
        await _IJSRuntime.InvokeVoidAsync("showToastr", "success", "Success Notification");
    }
}
