<div class="row">
    <div class="col-12">
        <div class="card bg-light border-primary shadow-sm">
            <div class="card-body">
                <h5 class="text-primary">Grandchild Component</h5>
                <p class="mb-0">There is a message: <strong>@MessageForFrandChild</strong></p>
                <p class="mb-0">Lucky Number: <strong>@LuckyNumber</strong></p>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "MessageForFrandChild")]
    public string MessageForFrandChild { get; set; }

    [CascadingParameter(Name = "LuckyNimber")]
    public int LuckyNumber { get; set; }
}
