
@foreach(var item in EventType)
{
    <p>@item</p>
    <hr />
}

@code {
    List<string> EventType = new List<string>();

    protected override void OnInitialized()
    {
        EventType.Add("OnInitialized Child is Called!");
    }
}
