@page "/LearnRouting"
@* @page "/LearnRouting/{Param1}"
@page "/LearnRouting/{Param1}/{Param2}" *@
@page "/LearnRouting/Catch-All/{*PageParameters}"
@page "/LearnRouting/LearnBlazor"
@page "/LearnBlazor/LearnRouting"

@inject NavigationManager _NavigationManager;

<h3>Learn Routing</h3>

<p>Param 1 : @Param1</p>
<p>Param 2 : @Param2</p>
<p>Page Parameters : @PageParameters</p>

@* <a href="LearnRouting?Param1=Learn&Param2=Blazor" class="btn btn-primary">Navigate to Query Parameters</a> *@

<button @onclick="NavigateToQueryParam" class="btn btn-primary">Navigate to Query Parameters</button>
<button @onclick="LoadParameters" class="btn btn-success">Load Parameters</button>

<div class="bg-info" style="height:1000px"></div>

<h2 id="targetElement">Main Title</h2>

@code {
    [SupplyParameterFromQuery(Name = "Param1")]
    public string Param1 { get; set; } = "";

    [SupplyParameterFromQuery(Name = "Param2")]
    public string Param2 { get; set; } = "";

    [Parameter]
    public string PageParameters { get; set; } = "";

    private void LoadParameters()
    {
        var uri = new Uri(_NavigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        Param1 = query["Param1"];
        Param2 = query["Param2"];
        // _NavigationManager.Refresh(forceReload: true);
    }

    private void NavigateToQueryParam()
    {
        _NavigationManager.NavigateTo("LearnRouting?Param1=Learn&Param2=Blazor");
    }
}
