@page "/LearnBlazor/DemoProduct"

<h2 class="text-primary text-center mb-4">Demo Product</h2>
<p class="text-primary text-center mb-4">Favourite Products: @FavouriteCount</p>
<p class="text-primary text-center mb-4">Selected Products: @SelectedProduct</p>
<div class="container mt-4">
    <div class="bg-light p-4 rounded shadow">
        <div class="row justify-content-center">
            @foreach (var prod in ProductList)
            {
                <_IndividualProductComponent 
                    Product="prod" 
                    OnFavouriteUpdated="favouriteCountChange"
                    OnSelectedProductChange="UpdateSelectedProduct">
              </_IndividualProductComponent>
            } 
        </div>
    </div>
</div>

@code {
    public int FavouriteCount { get; set; } = 0;

    public string SelectedProduct { get; set; } = string.Empty;

    List<Product> ProductList = new();

    protected override void OnInitialized()
    {
        ProductList.Add(new Models.Product
            {
                Id = 1,
                Name = "Midnight Blaze",
                IsActive = false,
                Price = 250,
                ProductProperties = new List<Product_Prop>
            {
                new Product_Prop { Id = 1, Key = "Flavor", Value = "Rose" },
                new Product_Prop { Id = 2, Key = "Size", Value = "20oz" },
                new Product_Prop { Id = 3, Key = "Color", Value = "Purple" }
            }
            });

        ProductList.Add(new Models.Product
            {
                Id = 2,
                Name = "Blossom Lily",
                IsActive = true,
                Price = 300,
                ProductProperties = new List<Product_Prop>
            {
                new Product_Prop { Id = 1, Key = "Flavor", Value = "Lily" },
                new Product_Prop { Id = 2, Key = "Size", Value = "18oz" },
                new Product_Prop { Id = 3, Key = "Color", Value = "White" }
            }
            });
    }

    protected void favouriteCountChange(bool isSelected)
    {
        if (isSelected)
        {
            FavouriteCount++;
        }
        else
        {
            FavouriteCount--;
        }
    }

    protected void UpdateSelectedProduct(string productName)
    {
        SelectedProduct = productName;
    }
}
