@page "/LearnBlazor/ParentComponent"

<div class="container my-4">
    <h3 class="text-primary">Parent Component</h3>

    <CascadingValue Value="@LuckyNumber" Name="LuckyNumber">
        <CascadingValue Value="@MessageForFrandChild" Name="MessageForFrandChild">
        <div class="mb-4">
        <_ChildComponent OnButtonClick="ShowMessage"
                         Title="This title is passed as a parameter to the child component from parent component">

            <ChildSomeContent>
                Some text between the tags from Child some!!
            </ChildSomeContent>

            <ChildContent>
                Some text between the tags from the parent component!!
            </ChildContent>
        </_ChildComponent>
    </div>
   </CascadingValue>
  </CascadingValue>

    <p class="text-success font-weight-bold">@MessageText</p>
</div>

@code {
    public int LuckyNumber = 9;
    
    public string MessageForFrandChild = "This title is passed as a parameter to the grandchild component from the grandparent component";

    public string MessageText = "";

    private void ShowMessage()
    {
        MessageText = "Button inside child component clicked";
    }
}
